/* your styles go here */
.btn-circ {
    width: 100%;
    height: 25px;
    text-align: center;
    padding: 2px 0;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 5px;
}
.progress{
    height: 6px;
}
nav.side-navbar a.btn{
    color: #FFF;
}
.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.left-menu-buttons a i.fa{
    margin-right: 0;
    padding: 0 5px;
}

.item-thumb {
    width: 100px;
    height: 100px;
}