DirectoryIndex index.php
RewriteEngine On

ErrorDocument 404 /index.php?menu=404

# Основной домен
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Главная
RewriteRule ^index.html$ index.php [L]
# Правила
RewriteRule ^rules(/?)+$ index.php?menu=rules [L]
# Контакты
RewriteRule ^contacts(/?)+$ index.php?menu=contacts [L]
# Новости
RewriteRule ^news(/?)+$ index.php?menu=news [L]
# О нас
RewriteRule ^about(/?)+$ index.php?menu=about [L]

RewriteRule ^stat(/?)+$ index.php?menu=stat [L]
# Регистрация
RewriteRule ^signup(/?)+$ index.php?menu=signup [L]
# Восстановление пароля
RewriteRule ^recovery(/?)+$ index.php?menu=recovery [L]
RewriteRule ^recovery/([a-zA-Z0-9_-]+)(/?)+$ index.php?menu=recovery&hash=$1 [L]
# Последние выплаты
RewriteRule ^payments(/?)+$ index.php?menu=payments [L]
# Пользователи
RewriteRule ^users/([0-9]+)(/?)+$ index.php?menu=users&page=$1 [L]
RewriteRule ^users(/?)+$ index.php?menu=users [L]
#Оплата
RewriteRule ^payment/success(/?)+$ index.php?menu=success [L]
RewriteRule ^payment/fail(/?)+$ index.php?menu=fail [L]

# Аккаунт
RewriteRule ^account(/?)+$ index.php?menu=account [L]
RewriteRule ^account/farm(/?)+$ index.php?menu=account&sel=farm [L]
RewriteRule ^account/store(/?)+$ index.php?menu=account&sel=store [L]
RewriteRule ^account/market(/?)+$ index.php?menu=account&sel=market [L]
RewriteRule ^account/bonus(/?)+$ index.php?menu=account&sel=bonus [L]
RewriteRule ^account/swap(/?)+$ index.php?menu=account&sel=swap [L]
RewriteRule ^account/referals(/?)+$ index.php?menu=account&sel=referals [L]
RewriteRule ^account/insert(/?)+$ index.php?menu=account&sel=insert [L]
RewriteRule ^account/payment(/?)+$ index.php?menu=account&sel=payment [L]
RewriteRule ^account/config(/?)+$ index.php?menu=account&sel=config [L]
RewriteRule ^account/exit(/?)+$ index.php?menu=account&sel=exit [L]

#RewriteRule ^admin$ admin/index.php [L]