/*********** FONTS *******
@font-face {
	font-family: "ptsans";
	src: url("/fonts/ptsans.ttf");
	font-size: 13px;
}
****/
/*@import "http://webfonts.ru/import/ptsans.css";*/
/*@import "http://webfonts.ru/import/lobster.css";*/


body { margin:0px; padding:0px; font-family: "PTSansRegular"; }
img { border:0px; }
.clr { clear:both; }


.stn:link, .stn:visited { color: #609143; text-decoration: none; font-weight: bold; } 
.stn:active, .stn:hover { color: #d77906; text-decoration: none; }

.stn-sort:link, .stn-sort:visited { color: #FFFFFF; text-decoration: none; font-weight: bold; } 
.stn-sort:active, .stn-sort:hover { color: #000000; text-decoration: none; }

/*############# WRAPPERS #############*/
.wrap { width:980px; margin:0 auto; border:0px solid black; }

/*############# HEADER #############*/
.header { width:100%; }

.clr-line {
	background: url(/img/hd-line.jpg) no-repeat;
	width:980px;
	height:8px;
}

.logo {
	background: url(/img/logo.jpg) no-repeat;
	width:322px;
	height:109px;
	margin-top:10px;
}

.hd-menu {
	float:right;
	list-style:none;
	font-family: "PTSansRegular";
	margin:50px 80px 0px 0px;
}

.hd-menu li {
	display:inline;
	margin:0px 15px 0px 0px;
	border:3px solid #FFF;
	padding:7px 5px 3px 5px;
}

.hd-menu li:hover {
	border:3px solid #f9ac85;
	border-radius:10px;
	padding:5px 5px 3px 5px;
}

.hd-menu a {
	text-decoration:none;
	color:#000;
}

.cp-art {
	background: url(/img/fruits.jpg) no-repeat;
	width:542px;
	height:244px;
	margin-bottom:10px;
	float:left;
}

.sprite-icon {
	background: url(/img/sprite-icon.png) no-repeat;
	width:500px;
	height:500px;
}

.hd-bnf {
	float:left;
	background: url(/img/bnf.png) repeat-x;
	height:152px;
	font-family: "lobster";
	margin:25px 0px 0px 10px;
	padding:10px 15px 0px 30px;
	color:#3f9800;
	font-size:1.2em;
	line-height: 17pt;
	border:1px solid #b6b6b6;
	border-radius:10px;
}

.hd-bnf li {
	list-style-image: url(/img/arrow.png);	
	background-repeat:no-repeat;
}

/*############# CONTENT #############*/
.content {  width:100%; margin-top:10px; }
.cl-left { width:325px; float:left; border:0px solid black; }
.cl-right { width:630px; float:left; padding:0px 0px 0px 20px; border:0px solid black; }

.h-title {
	background: url(/img/opacity-title.png) no-repeat;
	width:289px;
	height:22px;
	color:#4f6f05;
	font-family: "PTSansRegular";
	text-align:center;
	margin:2px 0px 0px 15px;
}

.autoriz {
	background: url(/img/bnf.png) repeat-x;
	height:175px;
	border:1px solid #b6b6b6;
	border-radius:10px;	
}

.lg {
	background: none;
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(/img/inpt.png) repeat-x;
	width:237px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:3px 0px 0px 0px;
}

.lg:hover {
	background: url(/img/inpt-hov.png) repeat-x;
	width:237px;
	height:24px;
}

.ps {
	background: none;
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(/img/inpt.png) repeat-x;
	width:237px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:3px 0px 0px 0px;
}

.ps:hover {
	background: url(/img/inpt-hov.png) repeat-x;
	width:237px;
	height:24px;
}

.btn_in {
	background: #73b1ff;
	border: 1px solid #60a2f6;
	border-radius:10px;
	color:#FFF;
	margin:0px 0px 0px 0px;
	padding:3px 0px 3px 0px;
	cursor:pointer;
	width:60px;
}

.btn_reg {
	background: #73b1ff;
	border: 1px solid #60a2f6;
	border-radius:10px;
	color:#FFF;
	margin:0px 0px 0px 0px;
	padding:3px 0px 3px 0px;
	cursor:pointer;	
	width:100px;
}

a.rs-ps { color:#f77827; text-decoration:none;  font-size:14px; }
a.rs-ps:hover { text-decoration:underline; }

.stat {
	background: url(/img/bnf.png) repeat-x;
	height:180px;
	margin:20px 0px 0px 0px;
	border:1px solid #b6b6b6;
	border-radius:10px;	
}

.st-lf { float:left; margin:5px 0px 0px 0px; }
.st-rg { float:left; margin:7px 0px 0px 15px; }

.line {
	margin:10px 0px 0px 30px;
}

.line-st {
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(/img/inpt-hov.png) repeat-x;
	width:115px;
	height:19px;
	color:#f77827;
	text-align:center;
	margin:2px 0px 0px 0px;
	padding:5px 0px 0px 0px;
	
}

.st-time {
	margin:3px 0px 0px 30px;
}

.wim {
	background: url(/img/small-inpt.png) repeat-x;
	width:229px;
	height:34px;
	border:1px solid #b6b6b6;
	border-radius:10px;
	text-align:center;
	font-size:20pt;
	padding:10px 0px 0px 0px;
	margin:0px 0px 0px 190px;
}

.wim-block {
	margin:10px 0px 0px 67px;
}

.wim-lf {
	background: url(/img/man-1.jpg) no-repeat;
	width:125px;
	height:129px;
	float:left;
}

.wim-ctr {
	width:220px;
	float:left;
	color:#0a5200;
	font-size:19pt;
	text-align:center;
	margin:0px 5px 0px 5px;
}

.wim-ctr-in {
	background: url(/img/arrows.jpg) no-repeat;
	width:117px;
	height:63px;
	margin:10px 0px 10px 50px;
}

.wim-rg {
	background: url(/img/man-2.jpg) no-repeat;
	width:130px;
	height:131px;
	float:left;	
}

.garant-bk {
	width:200px;
	float:left;
	margin:5px 0px 0px 0px;
	text-align:center;
	color:#0a5200;
	font-size:15pt;	

}

i {
	display:block;
	background:url(/img/garant-sprite.jpg);
	width:171px;
	height:155px;
	margin-left:15px;
}

.cntrl-ps  {
    background: url(/img/payment.png) no-repeat;
    width: 186px;
    height: 120px;
    margin-left: 63px;
    margin-top: 10px;
}

s {
	display:block;
	background:url(/img/paysitem-sprite.png);
	width:57px;
	height:46px;
	float:left;
}

.acc-title {
	background: #dbf4f6;
	width:235px;
	height:30px;
	border:1px solid #b3d8d3;
	border-radius:10px;
	text-align:center;
	font-family: "lobster";
	font-size:18px;
	color:#80acb0;
	margin-left:45px;
}

.field-gr {
	background: url(/img/field-gr.jpg) no-repeat;
	width:220px;
	height:31px;
	padding:9px 0px 0px 48px;
	margin:-10px 0px 11px 28px;
}

.field-gr a {
	color:#7ea57b;
	text-decoration:none;
	font-size:20px;
}

.field-gr a:hover {
	color:#99be97;
	text-decoration:none;
	border-bottom:1px dashed #99be97;
	font-size:20px;
}

.field-rd {
	background: url(/img/field-rd.jpg) no-repeat;
	width:220px;
	height:31px;
	padding:9px 0px 0px 48px;
	margin:-10px 0px 11px 28px;
}

.field-rd a {
	color:#ad7676;
	text-decoration:none;
	font-size:20px;
}

.field-rd a:hover {
	color:#c28888;
	text-decoration:none;
	border-bottom:1px dashed #c28888;
	font-size:20px;
}

.field-ar {
	background: url(/img/field-ar.jpg) no-repeat;
	width:220px;
	height:31px;
	padding:9px 0px 0px 48px;
	margin:-10px 0px 11px 28px;
}

.field-ars {
	background: url(/img/field-ars.jpg) no-repeat;
	width:220px;
	height:31px;
	padding:9px 0px 0px 48px;
	margin:-10px 0px 11px 28px;
}

.field-ars a, .field-ar a {
	color:#7ea57b;
	text-decoration:none;
	font-size:18px;
}

.field-ars a:hover, .field-ar a:hover {
	color:#99be97;
	text-decoration:none;
	border-bottom:1px dashed #99be97;
	font-size:18px;
}

.fr-block {
	background: url(/img/fr-block.jpg) no-repeat;
	width:450px;
	height:150px;
	float:left;
	margin:0px 20px 20px 80px;
}

.fr-block img {
	margin:10px 0px 0px 15px;
	border-radius:10px;
	border:3px solid #cdcdcd;
}

.fr-title {
	color:#7ea57b;
	font-size:18px;
}

.cl-fr-lf {
	float:left; 
	text-align:center;
}

.cl-fr-rg {
	float:left;
	margin: 10px 0px 0px 5px;
}

.fr-te-gr { color:#7ea57b; }
.fr-te-gr-title { color:#000; font-weight:700; margin-bottom:10px;}

a.sm-btn {
	display:block;
	cursor:pointer;
	font-size: 12px;
	font-weight: 700 !important;
	margin: 0px 5px 8px 0px;
	padding: 0px 14px;
	border-radius: 10px;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.400), 1px 1px 1px rgba(0, 0, 0, 0.102);
	display: inline-block;
	line-height: 26px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.298);
	background: linear-gradient(to bottom, #88BDFF 0px, #60A7FF 100%) transparent;
	border: 1px solid #3E8FF4;
	color: #2B63A8 !important;	
	text-decoration:none;
}

a.sm-btn:hover { opacity:0.8; }


input.sm-btn {
	display:block;
	cursor:pointer;
	font-size: 12px;
	font-weight: 700 !important;
	margin: 0px 5px 8px 0px;
	padding: 0px 14px;
	border-radius: 10px;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.400), 1px 1px 1px rgba(0, 0, 0, 0.102);
	display: inline-block;
	line-height: 30px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.298);
	background: linear-gradient(to bottom, #88BDFF 0px, #60A7FF 100%) transparent;
	border: 1px solid #3E8FF4;
	color: #2B63A8 !important;	
	text-decoration:none;
}

input.sm-btn:hover { opacity:0.8; }

.silver-bk {
	background: #f7f7f7;
	border:1px solid #dddddd;
	width:580px;
	margin:-10px 0px 0px 0px;
	padding:10px 10px 10px 20px;
	color:#7ea57b;
}

.s-bk-lf {
	margin-left:150px;
}

.sm-line {
	width:450px;
	float:left;
	margin:5px 0px 5px 0px;
	font-size:14px;

}

.sm-line-nt {
	
	margin:5px 0px 5px 0px;
	font-size:14px;

}

.sm-line-nt img {
	border:3px solid #cdcdcd;
	border-radius:10px;
	vertical-align:-13px;
}

.sm-line img {
	border:3px solid #cdcdcd;
	border-radius:10px;
	vertical-align:-13px;
	margin:0px 5px 0px 0px;
}

.m-tb {
	background: #7ea57b;
	color:white;
}

table { border:none; }
 
td {
	border-radius:10px;
	margin-right:5px;
}

.bs-py {
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(/img/inpt-hov.png) repeat-x;
	width:115px;
	height:24px;
	color:#f77827;
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:3px 0px 0px 0px;
}

.out-my {
	background: none;
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(/img/inpt.png) repeat-x;
	width:187px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:1px 0px 0px 0px;
}

.out-my:hover {
	background: url(/img/inpt-hov.png) repeat-x;
	width:187px;
	height:24px;
}

/*############# FOOTER #############*/
.footer {
	margin-top:100px;
}

.htt:hover {background-color:#ccffcc;}











